<h2>Wymiany</h2>
<form action="/trade" method="POST">
    <label>Seller ID: <input type="number" name="sellerId" required></label><br/>
    <label>Buyer ID: <input type="number" name="buyerId" required></label><br/>
    <label>Item ID: <input type="number" name="itemId" required></label><br/>
    <label>Price: <input type="number" name="price" required></label><br/>
    <button type="submit">Wymień</button>
</form>